.inputBox {
    overflow-x: hidden;
    max-width: 750px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    background-color: rgba(11, 11, 11, 0.636);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    margin-right: auto;
    margin-left: 0;
    margin-top: 15px;
}
.send-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

#input,
#send {
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  color: white;
}

#send {
    cursor: pointer;
    margin-left: 10px;
}

#input {
    word-wrap: normal;
    overflow-wrap: break-word;
    height: 50px;
}

