.inputBox {
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(11, 11, 11, 0.636);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 62%;
}

.sendInput {
    align-items: flex;
    flex-direction: row;
}

#input,
#send {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}

#send {
    cursor: pointer;
}

#input {
    word-wrap: normal;
    overflow-wrap: break-word;
    height: 50px;
}

